// font-family: 'Roboto', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

$fon: #263238;
$line: #8bc34a;
$grey: #b7c3c8;
$text: #546e7a;
$red: #e74c3c;

$title: 'Raleway', sans-serif;