@import '_vars';

*{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
.container-fluid{
    padding: 0px 30px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin: 0;
        padding: 0;
    }
}
a{
    display: inline-block;
    text-decoration: none;
}

.header__content-inner{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content-right{
    display: flex;
}
.header__content-text{
    color: $text;
    margin-right: 50px;
    span{
        color: $red;
    }
    a{
        color: $text;   
    }
}
.header__content-items{
    margin-right: 26px;
}
.header__content-item{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    background-color: #f5f5f5;
    span{
        display: inline-block;
        position: absolute;
        right: -6px;
        top: -6px;
        background-color: $red;
        font-size: 11px;
        color: #fff;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
    }
}
.header-basket:before{
    content: "\f07a";
    font-family: 'icomoon';
    font-size: 14px;
    color: #a0a0a0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header__btn{
    a{
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        min-width: 72px;
        text-align: center;
        padding: 5px 15px;
        & + a{
            margin-left: 7px;
        }
    }
    .header__btn-register{
        background-color: $red;
    }
    .header__btn-login{
        background-color: $line;
    }
}
.header__menu{
    background-color: $fon;
    padding: 18px 0px;
}
.menu{
    li{
        display: inline-block;
        & + li{
            padding-left: 35px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
    }
}

.search{
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(../img/header__bg.jpg);
    padding: 55px 0px 65px;
    filter: grayscale(1);
    &.search__home{
        background-image: url(../img/header__home__bg.jpg);
        padding: 135px 0px 175px;
    }
}
.search__title{
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.search__text{
    font-size: 20px; 
    line-height: 30px; 
    color: #fff; 
    margin-bottom: 40px;
    font-weight: 500;
}
.search__form{
    position: relative;
    min-width: 670px;
    width: 100%;
    margin: 0 auto;
    input{
        max-width: 670px;
        width: 100%;
        display: inline-block;
        height: 60px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        background-color: #fff;
        font-size: 14px;
        color: #90a4ae;
        font-weight: 500;
        padding-left: 25px;
        padding-right: 50px;
        outline: none;
        &::placeholder{
            font-size: 14px;
            color: #90a4ae;
            font-weight: 500;
        }
    }
    button{
        border: none;
        outline: none;
        background-color: transparent;
        color: #90a4ae;
        position: absolute;
        right: 246px;
        top: 16px;
        font-size: 26px;
    }
}

.portfolio{
    background-color: #f4f6f5;
    padding: 100px 0;
}
.portfolio__title{
    text-align: center;
    font-weight: 700;
    color: $fon;
    line-height: 60px;
    font-size: 36px;
    margin-bottom: 20px;
}
.item{
    max-width: 440px;
    width: 100%;
    border: 1px solid #e7ecf2;
    margin-bottom: 30px;
    position: relative;
    &.sale{
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 30px 30px 30px;
            border-color: $line transparent transparent $line;

        }
        &:after{
            content: "\f0e7";
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 11px;
            top: 8px;
            font-size: 18px;
        }
    }
}
.item__info{
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2; 
    padding-left: 30px;
    padding-right: 30px;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item__img{
    display: block;
    img{
        display: block;
        max-width: 100%;
        width: 100%;
    }
}
.item__info-box{
    line-height: 30px;
    font-weight: 500;
    max-width: 290px;
    width: 100%;
}
.item__info-name{
    font-size: 18px;
    color: $fon;
    display: block;
}
.item__info-category{
    color: $line;
    font-size: 14px;
    display: block;
}
.item__price{
    font-size: 20px;
    font-weight: 700;
}
.item__user-box{
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2; 
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.item__user{
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    color: #546e7a;
    display: flex;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 15px;
    }
}
.item__user-rating{
    display: flex;
    align-items: center;
    li{
        display: inline-block;
        padding-right: 2px;
        span{
            color: #ffa726;
        }
    }
}
.item__user-rating-number{
    color: $fon;
    padding-left: 13px;
}
.portfolio__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio__btn{
    margin-bottom: 60px;
    text-align: center;
    button{
        background-color: #fff;
        border: none;
        outline: none;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 14px;
        color: $fon;
        padding: 10px 20px;
        font-weight: 500;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.portfolio__link{
    text-align: center;
    padding-top: 40px;
    a{
        color: $fon;
        background-color: #fff;
        font-size: 16px;
        padding: 15px 25px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        margin-left: 7px;
        margin-right: 7px;
    }
}
.slider{
    padding: 100px 0px 120px;
    text-align: center;
    .slick-dots{
        li{
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            button{
                font-size: 0;
                padding: 0;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                color: rgb(232, 232, 232);
                border: none;
                cursor: pointer;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: $line;
                }
            }
        }
    }
}
.slider__title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    color: $fon;
}

.services{
    background-color: $fon;
    padding: 120px 0px 120px;
}
.services__title{
    text-align: center;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    font-size: 36px;
    margin-bottom: 20px; 
}
.services__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services__item{
    margin-right: 40px;
    margin-left: 40px;
}
.services__item-img{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    img{
        display: block;
        max-width: 100%;
        width: 100%;
        border: 3px solid transparent;
        border-radius: 50%;
        &:hover{
            border: 3px solid $line; 
        }
    }
}
.services__item-title{
    a{
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        line-height: 60px;
        &:hover{
            color: $line;
        }
    }
}
.services__item-text{
    color: #b0bec5;   
}

.author{
    background-color: #f4f6f5;
    padding: 130px 0px 140px;
    position: relative;   
}
.author__inner{
    text-align: center;
    width: 100%;
    position: relative;
    img{
        box-shadow: 0px 7px 14px 7px rgba(212, 212, 212, 0.75);
    }
    .author__box{
        text-align: center;
        position: absolute;
        background-color: $line;
        top: 115px;
        max-width: 650px;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        padding: 70px 55px 85px 60px;
    }
}
.author__text{
    font-size: 30px;
    color: #fff;
    line-height: 36px;
    span{
        font-weight: 700;
    }
}
.author__btn{
    display: block;
    min-width: 225px;
    margin-left: 45px;
    a{
        font-size: 18px;
        color: $fon;
        background-color: #fff;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;   
        cursor: pointer;
    }   
}
.author__items{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.project{
    padding-top: 118px;
    padding-bottom: 118px;
}
.project__title{
    text-align: center;
    font-weight: 700;
    color: $fon;
    line-height: 60px;
    font-size: 36px;
    margin-bottom: 60px; 
}
.project__items{
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.project__item{
    margin-left: 12px;
    margin-right: 12px;
    line-height: 11px;
}
.project__item-text{
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    background-color: #f8f8f8;
    a{
        color: $fon;
    }
}



  

  










.footer{
    background-color: $fon;
}
.footer__content{
    padding: 100px 0px 90px;
}
.footer__content-inner{
    display: flex;
    justify-content: space-between;
}
.footer__content-item{
    width: 270px;
    &:nth-child(3){
        width: 210px;
    }
}
.footer__content-title{
    color: #fff;
    font-size: 22px;
    font-family: $title;
    font-weight: 700;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 30px;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 50px;
        background-color: $line;
    }
}
.footer__content-adress,
.footer__content-phone{
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'icomoon';
        color: $line;
        font-size: 18px;
    }
}
.footer__content-adress{
    margin-bottom: 15px;
    &:before{
        content: "\f041";
    }
}
.footer__content-phone:before{
    content: "\f095";
}

.footer__content-list{
    a{
        line-height: 36px;
        color: #fff;
        color: $grey;
        padding-left: 22px;
        position: relative;
        &:before{
            content: "\f105";
            font-family: 'icomoon';
            color: $line;
            left: 0;
            position: absolute;
            font-size: 18px;
        }
    }
}
.footer__content-text{
    color: #b7c3c8;
    margin-bottom: 35px;
}
.footer__content-social{
    margin-bottom: 40px;
    li{
        display: inline-block;
        &+li{
            padding-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../img/css_sprites.png);
        background-position: -1px -1px;
    }
    .footer-facebook{
        background-position: -10px -10px;
    }
    .footer-twitter{
        background-position: -58px -10px;  
    }
    .footer-youtube{
        background-position: -10px -58px;  
    }
    .footer-pinterest{
        background-position: -58px -58px;  
    }
    .footer-linkedin{
        background-position: -106px -10px;  
    }
}
.form__title{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
}
.footer__form{
    position: relative;
    input{
        display: block;
        background-color: #2f3c43;
        width: 260px;
        outline: none;
        height: 40px;
        padding-left: 15px;
        color: #697378;
        font-size: 14px;
        padding-right: 50px;
        border: 1px solid #000;
    }
    button{
       width: 43px;
       height: 38px;
       background-color: $line; 
       border: none;
       position: absolute;
       right: 11px;
       top: 1px;
       &:after{
            content: "\f124"; 
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
       }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    padding: 20px 0px;
    color: #919699;
    text-align: center;
    line-height: 36px;
}

.fancybox-content{
    background-color: $line;
    max-width: 729px;
    width: 100%;
    svg{
        path{
            fill: #fff;
        }
    }
}
#modal{
    display: none;
}
.modal__title{
    font-size: 48px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.modal__form-inner{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.modal__form{
    label{
        display: block;
        position: relative;
        input{
            display: block;
            color: #fff;
            margin-bottom: 8px;
            height: 43px;
            border: none;
            outline: none;
            background-color: #76ae36;
            width: 100%;
            padding-left: 40px;
            padding-right: 10px;
        }
        &:before{
            font-family: 'icomoon';
            position: absolute;
            left: 18px;
            top: 12px;
            color: #fff;
            font-size: 14px;
        }
    }
    .form__name{
        &:before{
            content: "\f007";
        }   
    }
    .form__pass{
        &:before{
            content: "\f023";
        }
        margin-bottom: 12px;   
    }
    input[type="submit"]{
        color: #000;
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
        width: 139px;
        height: 48px;
        border: none;
        font-weight: 700;
        outline: none;
        cursor: pointer;   
    }
}
.form__link{
    margin-left: 10px;
    max-width: 247px;
    width: 100%;
    display: inline-block;
    background-color: #76ae36;
    color: #fff;
    text-align: center;
    padding: 11px 0px 12px;
    font-size: 18px;
    &:before{
        content: "\f044";
        color: #fff;
        font-size: 14px;
        font-family: 'icomoon';
        padding-right: 8px;

    }
}
.form__lost-pass{
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 60px;
}
