* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-fluid {
  padding: 0px 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.header__content-inner {
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__content-text {
  color: #546e7a;
  margin-right: 50px;
}

.header__content-text span {
  color: #e74c3c;
}

.header__content-text a {
  color: #546e7a;
}

.header__content-items {
  margin-right: 26px;
}

.header__content-item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
  background-color: #f5f5f5;
}

.header__content-item span {
  display: inline-block;
  position: absolute;
  right: -6px;
  top: -6px;
  background-color: #e74c3c;
  font-size: 11px;
  color: #fff;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

.header-basket:before {
  content: "\f07a";
  font-family: 'icomoon';
  font-size: 14px;
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__btn a {
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  min-width: 72px;
  text-align: center;
  padding: 5px 15px;
}

.header__btn a + a {
  margin-left: 7px;
}

.header__btn .header__btn-register {
  background-color: #e74c3c;
}

.header__btn .header__btn-login {
  background-color: #8bc34a;
}

.header__menu {
  background-color: #263238;
  padding: 18px 0px;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  padding-left: 35px;
}

.menu a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.search {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url(../img/header__bg.jpg);
  padding: 55px 0px 65px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.search.search__home {
  background-image: url(../img/header__home__bg.jpg);
  padding: 135px 0px 175px;
}

.search__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.search__text {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 500;
}

.search__form {
  position: relative;
  min-width: 670px;
  width: 100%;
  margin: 0 auto;
}

.search__form input {
  max-width: 670px;
  width: 100%;
  display: inline-block;
  height: 60px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
          box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  background-color: #fff;
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 50px;
  outline: none;
}

.search__form input::-webkit-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::-moz-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input:-ms-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::-ms-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #90a4ae;
  position: absolute;
  right: 246px;
  top: 16px;
  font-size: 26px;
}

.portfolio {
  background-color: #f4f6f5;
  padding: 100px 0;
}

.portfolio__title {
  text-align: center;
  font-weight: 700;
  color: #263238;
  line-height: 60px;
  font-size: 36px;
  margin-bottom: 20px;
}

.item {
  max-width: 440px;
  width: 100%;
  border: 1px solid #e7ecf2;
  margin-bottom: 30px;
  position: relative;
}

.item.sale:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 30px 30px;
  border-color: #8bc34a transparent transparent #8bc34a;
}

.item.sale:after {
  content: "\f0e7";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  left: 11px;
  top: 8px;
  font-size: 18px;
}

.item__info {
  background-color: #fff;
  border-bottom: 1px solid #e7ecf2;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__img {
  display: block;
}

.item__img img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.item__info-box {
  line-height: 30px;
  font-weight: 500;
  max-width: 290px;
  width: 100%;
}

.item__info-name {
  font-size: 18px;
  color: #263238;
  display: block;
}

.item__info-category {
  color: #8bc34a;
  font-size: 14px;
  display: block;
}

.item__price {
  font-size: 20px;
  font-weight: 700;
}

.item__user-box {
  background-color: #fff;
  border-bottom: 1px solid #e7ecf2;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user {
  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  color: #546e7a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.item__user-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user-rating li {
  display: inline-block;
  padding-right: 2px;
}

.item__user-rating li span {
  color: #ffa726;
}

.item__user-rating-number {
  color: #263238;
  padding-left: 13px;
}

.portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio__btn {
  margin-bottom: 60px;
  text-align: center;
}

.portfolio__btn button {
  background-color: #fff;
  border: none;
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  color: #263238;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.portfolio__btn button.mixitup-control-active {
  background-color: #e74c3c;
  color: #fff;
}

.portfolio__link {
  text-align: center;
  padding-top: 40px;
}

.portfolio__link a {
  color: #263238;
  background-color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
          box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  margin-left: 7px;
  margin-right: 7px;
}

.slider {
  padding: 100px 0px 120px;
  text-align: center;
}

.slider .slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: #e8e8e8;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider .slick-dots li.slick-active button {
  background-color: #8bc34a;
}

.slider__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  color: #263238;
}

.services {
  background-color: #263238;
  padding: 120px 0px 120px;
}

.services__title {
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  font-size: 36px;
  margin-bottom: 20px;
}

.services__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  margin-right: 40px;
  margin-left: 40px;
}

.services__item-img {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.services__item-img img {
  display: block;
  max-width: 100%;
  width: 100%;
  border: 3px solid transparent;
  border-radius: 50%;
}

.services__item-img img:hover {
  border: 3px solid #8bc34a;
}

.services__item-title a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 60px;
}

.services__item-title a:hover {
  color: #8bc34a;
}

.services__item-text {
  color: #b0bec5;
}

.author {
  background-color: #f4f6f5;
  padding: 130px 0px 140px;
  position: relative;
}

.author__inner {
  text-align: center;
  width: 100%;
  position: relative;
}

.author__inner img {
  -webkit-box-shadow: 0px 7px 14px 7px rgba(212, 212, 212, 0.75);
          box-shadow: 0px 7px 14px 7px rgba(212, 212, 212, 0.75);
}

.author__inner .author__box {
  text-align: center;
  position: absolute;
  background-color: #8bc34a;
  top: 115px;
  max-width: 650px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  padding: 70px 55px 85px 60px;
}

.author__text {
  font-size: 30px;
  color: #fff;
  line-height: 36px;
}

.author__text span {
  font-weight: 700;
}

.author__btn {
  display: block;
  min-width: 225px;
  margin-left: 45px;
}

.author__btn a {
  font-size: 18px;
  color: #263238;
  background-color: #fff;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.author__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding-top: 118px;
  padding-bottom: 118px;
}

.project__title {
  text-align: center;
  font-weight: 700;
  color: #263238;
  line-height: 60px;
  font-size: 36px;
  margin-bottom: 60px;
}

.project__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__item {
  margin-left: 12px;
  margin-right: 12px;
  line-height: 11px;
}

.project__item-text {
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 700;
  background-color: #f8f8f8;
}

.project__item-text a {
  color: #263238;
}

.footer {
  background-color: #263238;
}

.footer__content {
  padding: 100px 0px 90px;
}

.footer__content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item {
  width: 270px;
}

.footer__content-item:nth-child(3) {
  width: 210px;
}

.footer__content-title {
  color: #fff;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 30px;
}

.footer__content-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: #8bc34a;
}

.footer__content-adress,
.footer__content-phone {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: #fff;
}

.footer__content-adress:before,
.footer__content-phone:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'icomoon';
  color: #8bc34a;
  font-size: 18px;
}

.footer__content-adress {
  margin-bottom: 15px;
}

.footer__content-adress:before {
  content: "\f041";
}

.footer__content-phone:before {
  content: "\f095";
}

.footer__content-list a {
  line-height: 36px;
  color: #fff;
  color: #b7c3c8;
  padding-left: 22px;
  position: relative;
}

.footer__content-list a:before {
  content: "\f105";
  font-family: 'icomoon';
  color: #8bc34a;
  left: 0;
  position: absolute;
  font-size: 18px;
}

.footer__content-text {
  color: #b7c3c8;
  margin-bottom: 35px;
}

.footer__content-social {
  margin-bottom: 40px;
}

.footer__content-social li {
  display: inline-block;
}

.footer__content-social li + li {
  padding-left: 7px;
}

.footer__content-social a {
  width: 28px;
  height: 28px;
  background-image: url(../img/css_sprites.png);
  background-position: -1px -1px;
}

.footer__content-social .footer-facebook {
  background-position: -10px -10px;
}

.footer__content-social .footer-twitter {
  background-position: -58px -10px;
}

.footer__content-social .footer-youtube {
  background-position: -10px -58px;
}

.footer__content-social .footer-pinterest {
  background-position: -58px -58px;
}

.footer__content-social .footer-linkedin {
  background-position: -106px -10px;
}

.form__title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
}

.footer__form {
  position: relative;
}

.footer__form input {
  display: block;
  background-color: #2f3c43;
  width: 260px;
  outline: none;
  height: 40px;
  padding-left: 15px;
  color: #697378;
  font-size: 14px;
  padding-right: 50px;
  border: 1px solid #000;
}

.footer__form button {
  width: 43px;
  height: 38px;
  background-color: #8bc34a;
  border: none;
  position: absolute;
  right: 11px;
  top: 1px;
}

.footer__form button:after {
  content: "\f124";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copy {
  border-top: 1px solid #424d53;
  padding: 20px 0px;
  color: #919699;
  text-align: center;
  line-height: 36px;
}

.fancybox-content {
  background-color: #8bc34a;
  max-width: 729px;
  width: 100%;
}

.fancybox-content svg path {
  fill: #fff;
}

#modal {
  display: none;
}

.modal__title {
  font-size: 48px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.modal__form-inner {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.modal__form label {
  display: block;
  position: relative;
}

.modal__form label input {
  display: block;
  color: #fff;
  margin-bottom: 8px;
  height: 43px;
  border: none;
  outline: none;
  background-color: #76ae36;
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
}

.modal__form label:before {
  font-family: 'icomoon';
  position: absolute;
  left: 18px;
  top: 12px;
  color: #fff;
  font-size: 14px;
}

.modal__form .form__name:before {
  content: "\f007";
}

.modal__form .form__pass {
  margin-bottom: 12px;
}

.modal__form .form__pass:before {
  content: "\f023";
}

.modal__form input[type="submit"] {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
          box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
  width: 139px;
  height: 48px;
  border: none;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.form__link {
  margin-left: 10px;
  max-width: 247px;
  width: 100%;
  display: inline-block;
  background-color: #76ae36;
  color: #fff;
  text-align: center;
  padding: 11px 0px 12px;
  font-size: 18px;
}

.form__link:before {
  content: "\f044";
  color: #fff;
  font-size: 14px;
  font-family: 'icomoon';
  padding-right: 8px;
}

.form__lost-pass {
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 60px;
}
